@import "../../styles/common.scss";

.container-history-table {
  .history {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 5px;

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
      font-size: $base-size;
    }

    tr:first-child th {
      text-align: center;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 10px;
      border: none;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 10px;
      border: none;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $common-green;
      color: white;
    }

    .btn-unlock {
      width: 50px;
      border: none;
      outline: none;
      background: transparent;
      color: $common-green;

      &:hover {
        background-color: transparent !important;
        color: $common-green !important;
      }
    }

    .btn-delete {
      width: 50px;
      border: none;
      outline: none;
      background: transparent;
      color: $common-red;

      &:hover {
        background-color: transparent !important;
        color: $common-red !important;
      }
    }
  }
}
