@import "../../styles/common.scss";

.container-user-card {
  width: calc(80% + 24px);
  margin: 50px 50px 50px 100px;

  .card {
    border-radius: 10px;
    border-color: $colormain;

    .card-header {
      background: $colormain;
      color: white;
      height: 60px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      i {
        padding: 10px;
        font-size: 23px;
      }
    }

    .img-content {
      .img-fluid {
        margin: 2px;
      }
    }

    .card-body {
      .form-content {
        border-radius: 7px;
        margin-top: 15px;
        text-align: left;

        .form-phone {
          display: flex;
        }

        .form-status-user-content {
          display: flex;
          margin-bottom: 25px;

          .form-status-user {
            width: 50%;
          }
          .span-btn {
            width: 50%;
            position: absolute;
            margin-top: 20px;

            .btn-save {
              width: 15%;
              height: 35px;
              border-radius: 7px;
              border: none;
              background: $colormain;
              color: white;
              font-size: 20px;
              margin-right: 5px;
              margin-top: 20px;
            }

            .btn-trash {
              width: 15%;
              height: 35px;
              border-radius: 7px;
              border: none;
              background: red;
              color: white;
              font-size: 20px;
            }
          }
        }

        div {
          margin-top: 10px;

          .form-control {
            height: 40px;
            font-size: $base-size;

            .form-lastname {
              width: 500px !important;
            }
          }
        }

        label {
          font-size: $base-size;
        }
      }
    }
  }
}
