@import "../../styles/common.scss";

.container-card {
  width: calc(80% + 24px);
  margin: 50px 50px 50px 100px;

  .card {
    border-radius: 7px;

    .card-header {
      background: $colormain;
      color: white;
      border-radius: 7px;
      height: 60px;

      i {
        padding: 10px;
        font-size: 25px;
      }
    }
  }
}
