.searchbox-container {
  .form {
    position: relative;

    .fa-search {
      position: absolute;
      top: 18px;
      left: 20px;
      color: #9ca3af;
    }
  }

  .form-input {
    height: 50px;
    text-indent: 30px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
  }
}
