@import "../../../styles/common.scss";

.select-resident-container {
  display: flex;
  position: relative;

  .select-resident-content {
    font-size: 20px;
    border-radius: 5px;
    height: 35px;
    width: 175px;
  }
}
