.chart-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;

  // .barchart-content {
  //   padding-right: 10px;
  // }
  // .linechart-content {
  //   padding-left: 5px;
  // }
}
