@import "../../../styles/common.scss";

.select-cabinet-container {
  display: flex;
  position: relative;

  .select-cabinet-content {
    font-size: 20px;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    margin-right: 5px;
  }
}
