@import "../../styles/common.scss";

.container-first-card {
  margin-top: 20px;
  color: $common-white;

  .card {
    border-radius: 10px;
    border-color: $common-green;
    background-color: $colormain !important;

    .card-body {
      //   background-color: aqua !important ;
    }
  }
}
