@import "../../styles/common.scss";

.container-first-card {
  margin-top: 25px;
  color: $common-white;
  font-size: $base-size;

  .card {
    border-radius: 10px;
    background: linear-gradient(45deg, #6a11cb, #2575fc) !important;
    font-size: 20px;
  }
}
