@import "../../styles/common.scss";

.container-fourth-card {
  margin-top: 25px;
  color: $common-white;
  font-size: $base-size;

  .card {
    border-radius: 10px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
    font-size: 20px;
  }
}
