@import "../../../styles/common.scss";

.select-business-container {
  display: flex;
  position: relative;

  .select-business-content {
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    margin-right: 5px;
  }
}
