@import "../../styles/common.scss";

.chartbar-container {
  .card {
    border-radius: 10px;
    width: 100%;
    .card-header {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      font-size: $base-size;
    }

    .card-body {
      .chartbar-context {
        display: block;
        width: 664px;
        margin: 20px;
      }
    }
  }
}
