@import "../../styles/common.scss";

.container {
  display: flex;
  max-width: 100%;

  .sidebar {
    background: $colormain;
    color: #feffff;
    height: 99vh;
    width: 350px;
    transition: all 0.5s;
    padding-top: 10px;
    border-radius: 10px;
    margin: 5px 0 0 5px;
    position: sticky;
    top: 5px;

    .top-section {
      display: flex;
      align-items: center;
      padding: 20px 15px;
      margin-bottom: 20px;

      .logo-img {
        width: 25%;
        margin-right: 10px;
        .img {
          width: 25%;
          height: 25%;
        }
      }

      .title-logo {
        font-size: 30px;
      }
    }

    .bars {
      cursor: pointer;
      display: flex;
      font-size: 30px;
      display: block;
    }

    .link {
      display: flex;
      color: #feffff;
      padding: 15px 20px;
      gap: 15px;
      transition: all 0.5s;
      text-decoration: none;
      margin: 5px 5px;

      .icon,
      .link_text {
        font-size: 25px;
      }
    }

    .link:hover {
      background: lightskyblue;
      color: $text-in-light;
      transition: all 0.5s;
      border-radius: 7px;
    }

    .active {
      background: lightskyblue;
      color: $text-in-light;
      border-radius: 7px;
    }
  }

  main {
    width: 100%;
    margin-left: 10px;
    padding: 5px;
  }
}
