@import "../../../styles/common.scss";

.form-date-container {
  display: flex;
  font-size: $base-size;
  margin-left: 20px;

  .date-calendar {
    border-radius: 5px;
    width: 150px;
  }
  .text-content {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
  }
}
