@import "../../styles/common.scss";

.table-orders-container {
  margin-top: 15px;

  .card-container {
    border: none;

    .orders {
      font-family: Arial, Helvetica, sans-serif;
      width: 100%;
      border-radius: 5px;

      tbody {
        border-radius: 10px;
      }

      td,
      th {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: $base-size;
      }

      tr:first-child th {
        text-align: center;
      }

      tr:first-child th:first-child {
        border-top-left-radius: 10px;
        border: none;
      }

      tr:first-child th:last-child {
        border-top-right-radius: 10px;
        border: none;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $colormain;
        color: white;
      }

      .btn-log {
        width: 50px;
        border: none;
        outline: none;
        background: transparent;
        color: $colormain;
      }
    }
  }

  .pagination-order {
    .pagination {
      --bs-pagination-active-bg: #21a5ff;

      li {
        margin-right: 5px;

        .page-link {
          font-size: $base-size;
        }
      }
    }
  }
}