@import "../../styles/common.scss";

.table-cabinet-container {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  .table-cabinet-content {
    display: flex;
    .icon-content {
      color: $colormain;
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  .cabinets {
    width: 100%;
    border-radius: 5px;

    tbody {
      border-radius: 10px;
    }

    td,
    th {
      border: 1px solid #ddd;
      padding: 8px;
      font-size: $base-size;
    }

    tr:first-child th {
      text-align: center;
    }

    tr:first-child th:first-child {
      border-top-left-radius: 10px;
      border: none;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 10px;
      border: none;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $colormain;
      color: white;
    }

    .btn-edit {
      width: 50px;
      border: none;
      outline: none;
      background: transparent;
      color: orange;

      &:hover {
        background-color: transparent !important;
        color: orange !important;
      }
    }

    .btn-delete {
      width: 50px;
      border: none;
      outline: none;
      background: transparent;
      color: rgb(235, 15, 15);

      &:hover {
        background-color: transparent !important;
        color: rgb(235, 15, 15) !important;
      }

      &.disabled {
        opacity: 0.5;
      }
    }

    .btn-info {
      width: 50px;
      border: none;
      outline: none;
      background: transparent;
      color: $colormain;

      &:hover {
        background-color: transparent !important;
        color: $colormain !important;
      }
    }
  }
}
