@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    backdrop-filter: saturate(200%) blur(1.875rem);
    box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset, rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    color: $text-in-light;
    height: 50px;
    position: sticky;
    top: 5px;
    border-radius: 7px;
    margin-bottom: 25px;

    .header-tabs-container {
        margin-left: 5px;

        i {
            margin: 50%;
            align-items: center;
            color: gray;
            font-size: 20px;
        }

        .header-content {
            font-size: $base-size + 2px;
        }
    }

    .btn-logout {
        color: gray;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        margin-right: 7px;

        i {
            margin: 50%;
            align-items: center;
            font-size: $base-size + 4px;
        }
    }

    .btn-bell {
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        margin-right: 7px;
        position: relative;

        i {
            margin: 50%;
            align-items: center;
            font-size: $base-size + 4px;
            color: $colormain;

            .btn-unread {
                position: absolute;
            }
        }
    }
}