@import "../../styles/common.scss";

.header-container {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  backdrop-filter: saturate(200%) blur(1.875rem);
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  color: $text-in-light;
  height: 60px;
  position: sticky;
  top: 5px;
  border-radius: 7px;
  margin-bottom: 50px;
  z-index: 5;

  .header-content {
    display: flex;
    width: 100%;

    .header-left-content {
      margin: 15px 0 0 10px;
      display: flex;
      width: 17%;

      i {
        align-items: center;
        color: gray;
        font-size: $base-size + 7px;

        &:hover {
          color: $colormain;
        }
      }
    }

    .header-center-content {
      width: 60%;
      display: flex;
      .title-content {
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        color: $colormain;
      }
    }

    .header-right-content {
      display: flex;
      width: 23%;
      font-size: 22px;
      right: 10px;
      .language-content {
        width: 20px;
        right: 10px;

        .language-vi {
          cursor: pointer;
          opacity: 0.2;

          &.active {
            opacity: 1;

            span {
              color: orange;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .language-en {
          cursor: pointer;
          opacity: 0.2;

          &.active {
            opacity: 1;

            span {
              color: blue;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .btn-logout {
        color: gray;
        line-height: 40px;
        margin-top: 3px;
        i {
          margin-top: 50%;
          margin-left: 85%;
          align-items: center;
          font-size: $base-size + 7px;
        }
        &:hover {
          color: $common-red;
        }
      }
    }
  }
}
