@import "../../styles/common.scss";

.header-container {
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  backdrop-filter: saturate(200%) blur(1.875rem);
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  color: $text-in-light;
  height: 60px;
  position: sticky;
  top: 5px;
  border-radius: 7px;
  margin-bottom: 25px;
  z-index: 5;

  .header-content {
    width: 100%;
    display: flex;

    .header-left-content {
      margin: 15px 0 0 10px;
      display: flex;
      width: 30%;

      i {
        align-items: center;
        color: gray;
        font-size: 20px;
      }
    }

    .header-center-content {
      width: 48%;
      display: flex;
      margin-left: 10px;
    }

    .header-right-content {
      width: 22%;
      display: flex;
      margin-right: 10px;
      .language-content {
        margin-top: 5px;
        width: 20px;
        margin-left: 10px;

        .language-vi {
          cursor: pointer;
          opacity: 0.2;

          &.active {
            opacity: 1;

            span {
              color: orange;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .language-en {
          cursor: pointer;
          opacity: 0.2;

          &.active {
            opacity: 1;

            span {
              color: blue;
            }
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
      .btn-logout {
        color: gray;
        line-height: 40px;
        margin-top: 5px;
        i {
          margin-top: 50%;
          margin-left: 85%;
          align-items: center;
          font-size: $base-size + 4px;
        }
      }

      .btn-bell {
        line-height: 40px;
        padding: 0 10px;
        position: relative;
        margin-top: 5px;
        margin-right: 5px;

        i {
          margin: 50%;
          align-items: center;
          font-size: $base-size + 4px;
          color: $colormain;

          .btn-unread {
            position: absolute;
          }
        }
      }
    }
  }
}
