@import "../../../styles/common.scss";

.form-select-container {
  display: flex;
  position: relative;

  .icon-content {
    margin: 5px 10px;
    font-size: 20px;
    color: $colormain;
  }

  .form-select-content {
    font-size: 20px;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    margin-right: 5px;
  }
}
