.modal-create-cabinet-container {
  .modal-content {
    .modal-header {
      button {
        background-color: transparent !important;
        border: none;
        color: white;
        font-size: 25px;
      }
    }
  }

  .modal-create-cabinet-body {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    .input-container-group {
      flex-wrap: nowrap;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 48%;

      &.max-width-input {
        width: calc(96% + 20px);
      }

      .input-cabinet-name {
        border-radius: 5px;
        border: 1px solid #dee2e6;
        outline: none;
        height: 37px;
        padding: 0 10px;
      }

      .form-select-total {
        width: 130px;
      }
    }

    .name-cabinet {
      i {
        font-size: 10px;
        color: red;
        position: absolute;
        left: 70px;
      }
    }

    .business-name {
      i {
        font-size: 10px;
        color: red;
        position: absolute;
        right: 31%;
      }
    }

    .input-container-code {
      display: flex;
      flex-direction: column;
      width: 45%;
      position: relative;
      left: 5%;
      .form-check-input {
        width: 25px;
        height: 25px;
        margin-top: 5px;
      }

      .form-input-code {
        padding: 0 10px;
        height: 38px;
        margin-left: 5px;
        border-radius: 5px;
      }
      i {
        position: absolute;
        left: 70%;
        top: 55%;
        cursor: pointer;
      }
    }

    .input-address-container {
      flex-direction: column;
      width: 300px;

      .fas {
        font-size: 10px;
        color: red;
        position: absolute;
        left: 85px;
      }
    }
  }
}
