.modal-create-business-container {
    .modal-content {
        .modal-header {
            button {
                background-color: transparent !important;
                border: none;
                color: white;
                font-size: 25px;
            }
        }
    }

    .modal-create-business-body {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 48%;

            &.max-width-input {
                width: calc(96% + 20px);
            }

            input {
                border-radius: 3px;
                border: 1px solid grey;
                outline: none;
                height: 30px;
                padding: 0 10px;
            }
        }

        .input-address-container {
            display: flex;
            flex-direction: column;
            width: 99%;
        }
    }
}