@import "../../styles/common.scss";

.modal-unban-container {
  .modal-unban-header {
    background-color: $common-green !important;
    text-align: center;
    button {
      background-color: transparent !important;
      border: none;
      color: white;
      font-size: 25px;
    }
  }

  .modal-unban-body {
    font-size: $base-size;
    padding-bottom: 10px;
  }

  .modal-unban-footer {
    .btn-accept {
      background-color: $common-green;
    }
  }
}
