.modal-cabinet-container {
  .modal-content {
    .modal-header {
      button {
        background-color: transparent !important;
        border: none;
        color: white;
        font-size: 25px;
      }
    }
  }

  .modal-cabinet-body {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 45%;

      &.max-width-input {
        width: 100%;
      }

      input {
        border-radius: 3px;
        border: 1px solid grey;
        outline: none;
        height: 30px;
        padding: 0 10px;
      }
    }
  }
}
